.welcome-root {
  height: 200px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 10px !important;
}

.welcome-info-stack {
  width: 400px !important;
  align-self: center !important;
}

.welcome-button {
  width: 150px !important;
  background-color: white !important;
  color: black !important;
}

.welcome-image {
  height: 350px;
  position: relative;
  bottom: 40px;
}
